<html>
    <head>
        <title>
            Second fLoor
        </title>
    </head>
    <body>
        <svg  version="1.1" viewBox="0 0 210 297" xmlns="http://www.w3.org/2000/svg">
            <rect class="cls-1" x=".55321" y=".77533" width="53.798" height="25.689" fill="#ff2a2a" stroke-width=".11196"/>
            <rect class="cls-1" x="133.26" y="109.15" width="30.864" height="52.866" fill="#999" stroke-width=".41021"/>
            <g stroke-width=".19915">
                            <rect class="cls-2" x="188.11" y="173.04" width="21.331" height="66.539" fill="#fca"/>
                            <rect class="cls-3" x="188.11" y="239.58" width="21.331" height="56.203" fill="#ffe6d5"/>
                            <rect class="cls-4" x="188.11" y="-1.8954" width="21.331" height="33.851" fill="#f60"/>
            </g>
            <rect class="cls-5" x="188.11" y="64.982" width="21.331" height="37.773" fill="#f95" stroke-width=".21085"/>
            <rect class="cls-6" x="188.11" y="31.956" width="21.331" height="33.026" fill="#ff7f2a" stroke-width=".18622"/>
            <rect class="cls-7" x="188.11" y="102.76" width="21.331" height="70.286" fill="#ffb380" stroke-width=".19915"/>
            <rect class="cls-10" x="54.351" y=".77533" width="57.143" height="25.689" fill="#f55" stroke-width=".159"/>
            <g font-family="sans-serif" font-weight="bold" stroke-width=".19915">
                            <text class="cls-12" transform="scale(.78711 1.2705)" x="247.97203" y="17.287657" font-size="5.6444px">211</text>
                            <text class="cls-12" transform="scale(.78711 1.2705)" x="244.13234" y="38.206432" font-size="5.6444px">213</text>
                            <text class="cls-12" transform="scale(.78711 1.2705)" x="247.01161" y="67.749023" font-size="6.35px">215</text>
                            <text class="cls-12" transform="scale(.78711 1.2705)" x="94.28373" y="12.916274" font-size="7.0556px">203</text>
                            <text class="cls-12" transform="scale(.78711 1.2705)" x="23.391474" y="11.726243" font-size="7.0556px">201</text>
            </g>
            <rect class="cls-1" x="87.366" y="47.685" width="33.983" height="24.022" fill="#0ff" stroke-width=".18402"/>
            <rect class="cls-1" x="-.79904" y="50.655" width="41.543" height="22.548" fill="#0ff" stroke-width=".19713"/>
            <rect class="cls-10" x="111.49" y=".77533" width="44.292" height="25.689" fill="#ff8080" stroke-width=".13998"/>
            <rect class="cls-10" x="153.54" y="-1.8954" width="34.575" height="25.689" fill="#faa" stroke-width=".12368"/>
            <rect class="cls-1" x="121.32" y="262.59" width="47.72" height="32.391" fill="#0ff" stroke-width=".25322"/>
            <g fill="#000000" font-family="sans-serif" font-weight="bold" letter-spacing="0px" word-spacing="0px">
                            <text x="122.75595" y="13.27834" font-size="7.0556px" stroke-width=".26458" style="line-height:1.25" xml:space="preserve"><tspan x="122.75595" y="13.27834" font-family="sans-serif" font-size="7.0556px" font-weight="bold" stroke-width=".26458">205</tspan></text>
                            <text x="159.15833" y="11.010483" font-size="6.35px" stroke-width=".26458" style="line-height:1.25" xml:space="preserve"><tspan x="159.15833" y="11.010483" font-family="sans-serif" font-size="6.35px" font-weight="bold" stroke-width=".26458">207</tspan></text>
                            <text transform="scale(.95296 1.0494)" x="12.902905" y="54.215076" font-size="7.9106px" stroke-width=".32961" style="line-height:1.25" xml:space="preserve"><tspan x="12.902905" y="54.215076" font-family="sans-serif" font-size="7.9106px" font-weight="bold" stroke-width=".32961">Stairs</tspan></text>
                            <text transform="scale(.90146 1.1093)" x="102.65502" y="52.848637" font-size="8.3626px" stroke-width=".34844" style="line-height:1.25" xml:space="preserve"><tspan x="102.65502" y="52.848637" font-family="sans-serif" font-size="8.3626px" font-weight="bold" stroke-width=".34844">Stairs</tspan></text>
                            <text x="134.88264" y="280.20325" font-size="6.35px" stroke-width=".26458" style="line-height:1.25" xml:space="preserve"><tspan x="134.88264" y="280.20325" font-family="sans-serif" font-size="6.35px" font-weight="bold" stroke-width=".26458">Stairs</tspan></text>
            </g>
            <path d="m105.09 90.162v-17.64h40.09v35.28h-40.09z" fill="#f0f" stroke-width=".49918"/>
            <text x="111.31843" y="87.917336" fill="#000000" font-family="sans-serif" font-size="5.6444px" letter-spacing="0px" stroke-width=".26458" word-spacing="0px" style="line-height:1.25" xml:space="preserve"><tspan x="111.31843" y="87.917336">Girls </tspan><tspan x="111.31843" y="94.972893">Washroom</tspan></text>
            <path d="m138.54 245.48v-17.105h30.507v34.21h-30.507z" fill="#666" stroke-width=".54953"/>
            <g font-family="sans-serif">
                            <text transform="scale(.75365 1.3269)" x="178.0818" y="100.82824" fill="#000000" font-size="7.4894px" letter-spacing="0px" stroke-width=".35107" word-spacing="0px" style="line-height:1.25" xml:space="preserve"><tspan x="178.0818" y="100.82824">Boys</tspan><tspan x="178.0818" y="110.19005">Washroom</tspan></text>
                            <g font-weight="bold">
                                            <text x="146.85741" y="246.3976" fill="#000000" font-size="5.6444px" letter-spacing="0px" stroke-width=".26458" word-spacing="0px" style="line-height:1.25" xml:space="preserve"><tspan x="146.85741" y="246.3976" font-family="sans-serif" font-weight="bold" stroke-width=".26458">LIFT</tspan></text>
                                            <text class="cls-13" transform="rotate(90)" x="108.24971" y="-196.69814" font-size="6.35px" stroke-width=".26458"><tspan class="cls-14">C</tspan> <tspan x="113.89594" y="-196.69814">ompu</tspan> <tspan class="cls-15" x="138.73502" y="-196.69814">t</tspan> <tspan class="cls-16" x="141.9603" y="-196.69814">er Lab</tspan> <tspan class="cls-16" x="141.9603" y="-196.69814"/> <tspan class="cls-16" x="141.9603" y="-196.69814"/></text>
                                            <text class="cls-25" transform="matrix(0 .68023 -1.4701 0 0 0)" x="265.00891" y="-133.66" font-size="8.781px" stroke-width=".32929"><tspan class="cls-26">D</tspan> <tspan class="cls-27" x="272.44098" y="-133.66">ean</tspan> <tspan class="cls-28" x="291.85248" y="-133.66">A</tspan> <tspan x="298.50739" y="-133.66">cademics</tspan></text>
                                            <text class="cls-29" transform="matrix(0 .69708 -1.4346 0 0 0)" x="351.57779" y="-136.07138" font-size="8.0973px" stroke-width=".37956"><tspan class="cls-30">D</tspan> <tspan x="359.45746" y="-136.07138">ean</tspan> <tspan class="cls-30" x="380.03345" y="-136.07138">R</tspan> <tspan x="386.40628" y="-136.07138">esea</tspan> <tspan class="cls-31" x="408.51193" y="-136.07138">r</tspan> <tspan x="412.23923" y="-136.07138">ch</tspan></text>
                            </g>
            </g>
</svg>

    </body>
</html>